body {
    font-family: Arial, sans-serif;
    background-color: #edeae0e2;
    color: black;
    display: block;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    /* max-height: 90vh; */
    overflow-y: auto;
}

/* navbar */
.navbar {
    background-color: #333;
    overflow: hidden;
    height: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #575757;
}


.form-container {
    /* background-color: #D4BEE4;
    padding: 20px;
    border-top: 30px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 500px;
    height: auto; */

    background-color: #7c7c7a;
    padding: 20px;
    border-top: 30px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 500px;
    height: auto;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column; /* Ensure vertical flow */
    align-items: center;
    justify-content: center; /* Center elements inside the container */
}

h1{
    font-size: large;
    font-weight: bold;
}
label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;

    padding: 8px 8px;
    margin-bottom: 15px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    background-color: #EEEEEE;
    color: #070707;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #eed993;
    border: none;
    border-radius: 5px;
    color: rgb(1, 0, 0);
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #a3875d;
}
